node_modules
.vscode
package-lock.json
public/stylesheets/soleto.ttf
public/stylesheets/soleto-xbold.ttf
public/stylesheets/solelto-light.ttf
public/stylesheets/Dalton Maag - Soleto.ttf
public/stylesheets/Dalton Maag - Soleto Light.ttf
public/stylesheets/Dalton Maag - Soleto XBold.ttf
public/stylesheets/Dalton Maag - Soleto Medium.ttf
