extends layout
block head

block content
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      .inner
        img.masthead-brand(src='/images/nti_logo_white_umea.svg')
        nav.nav.nav-masthead.justify-content-center
          a.nav-link.active(href='#') Home
          a.nav-link(href='#') Features
          a.nav-link(href='#') Contact
    main.inner.cover(role='main')
      h1.cover-heading Gymnasieingenjör
      p.lead
        | Gymnasieingenjör TE4 är ett ettårigt program du kan läsa efter du avslutat dina gymnasiestudier.
      p.lead
        a.btn.btn-lg.btn-secondary#btn(href='#') Learn more
    footer.mastfoot.mt-auto
      .inner
        p
          | Cover template for 
          a(href='https://getbootstrap.com/') Bootstrap
          | , by 
          a(href='https://twitter.com/mdo') @mdo
          | .
    .parallax-container
      .parallax-container-inner
        .parallax-container__layer1
        .parallax-container__layer2
        .parallax-container__layer3